/* ----------------
1s section
-------------------*/
body{
    font-family: 'Poppins', sans-serif;
    color:#3A3A3A;
}
.container{
     display: flex;
     justify-content:space-around;
     /* align-items:center; */
     /* gap:133px; */
}
.start{
    width: 582px;
    height:270px;
    
   
}
.title{
    font-size:52px;
    font-weight: 700;
    margin-bottom:16px;
}
.title-p{
    font-size:16px;
    font-weight: 600;
}
.camera img{
    width:350px;
    height:300px;
    transition: transform 0.8s;
    cursor: pointer;
}
.camera img:hover{
    transform:scale(1.1);
    
}
.button{
    background-color:#E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    border:1px solid #E02C6D;
    
}
.button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.button i{
    margin-left:8px;
}


/* ------------------
Popular Collection
---------------------*/
/* .popular-collection{
    width:1047px;
    height:1662px;
    margin-left: 165px;
    margin-top:100px;
    
    
    
} */
.full{
    display: flex;
    justify-content: center;
}
.collections{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;
    
}
.collection{
    width: 329px;
    height:476px;
    /* display:grid; */
    justify-items:center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /* margin-bottom: 30px; */
    
    transition: transform 0.3s;
}
.collection:hover{
    transform: scale(1.03);
}
/* .collection-banner {
    width: 300px;
    height:256px;
    border-radius:5px;
    margin-top: 17px;
    margin-bottom:16px;
    
} */
.collection img{
    margin-left:15px;
    margin-top:17px;
}
.collection-details{
    margin-left: 14px;
}
.heading{
    font-size:28px;
    color: #18191F;
    margin-bottom:30px;
    text-align: center;

}
.price{
    font-size:24px;
    font-weight:400;
    color: rgba(0, 0, 0, 0.87);
    margin-top:6px;
    margin-bottom:0;
}
.fa-star{
    font-size:16px;
}
.filled{
    color: yellow;
}
.empty{
    color: gray;
}
.rating{
    margin-left:8px;
    font-size: 16px;
    
}
.collection .details{
    font-family: Inter;
    font-size: 14px;
    color: #787885;
    margin-right: 2px;;
}
.see{
    text-align: right;
    text-decoration: none;
    color:#E02C6DDE;
    margin-left: 946px;
    margin-top: 20px;

}


/* ---------------
   Log in
----------------*/
.login{
    border: 1px solid rgba(240, 128, 128, 0.0.34);
    border-radius:20px;
    background-color:rgba(240, 128, 128, 0.034);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.need{
    display:flex;
    justify-content:space-around;
    margin-top:50px;
}
.log-details{
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    gap:10px;
    height:250px;
    width:300px;
    
    
}
.hove{
    border-radius: 5px;
    border: 2px solid black;
    transition: transform 0.2s;
}
.hove:hover{
    transform:scale(1.02);
}
.btn{
    width:100px;
    background-color:#E02C6D;
    border:1px solid #E02C6D;
    border-radius:10px;
}
.block{
    margin-left:8px;
    
}
.btn:hover {
    transform:scale(1.1);
    transition: transform 0.3s;

    
}
.about{
    width:300px;
    height: 300px;
}
.comm-btn{
    background-color:#E02C6D;
    border: 1px solid #E02C6D;
    border-radius: 10px;
    width: 100px;
    height: 30px;

}
.comm-btn:hover{
    transform: scale(1.10);
    transition: transform 0.2s;
}
.comm-btn a{
    text-decoration:none;
    color:white;
}


/* --------------------------
    Footer
-----------------------------*/
.foot{
    margin-top:50px;
    background-color:#0A0826;
    width: 100%;
    height:239px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.foot-info{
    width: 262px;
    height:209px;
   
}
.foot-details{
    text-align:center;
}
.footer-heading{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.copy{
    font-size:14px;
    color: white;
}
.foot-links{
    display:flex;
    justify-content:center;
    color: white;
    
}
.social{
    margin-right: 16px;
}



@media (max-width:668px) {
   body {
    background-color:red;
   }
   .container{
       flex-direction: column;
       width: 100%;
   }
   .start{
       order: 2;
       width: 404px;
       height:222px;
       text-align: center;
   }
   .need{
       flex-direction: column;
       width: 100%;
       align-items: center;
   }
   .heading{
       text-align: left;
       
   }
   .heading{
       margin-top: 200px;
       
   }
   .containers{
       direction: column;
   }
   .full{
       flex-direction: column;
       width: 100%;
       /* margin-top: 100px; */

   }
   .collections{
       display:grid;
       grid-template-columns: repeat(1,1fr);
       margin: 0;
       
   }
   
}