/* ----------------
1s section
-------------------*/
.container{
     display: flex;
     justify-content:space-around;
     /* align-items:center; */
     /* gap:133px; */
}
.start{
    width: 582px;
    height:270px;
   
}
.title{
    font-size:52px;
    font-weight: 700;
}
.title-p{
    font-size:16px;
    font-weight: 600;
}
.camera img{
    width:350px;
    height:300px;
    transition: transform 0.8s;
    cursor: pointer;
}
.camera img:hover{
    transform:scale(1.2);
}


/* ------------------
Popular Collection
---------------------*/
.popular-collection{
    width:1047px;
    height:1662px;
    /* margin-left: 165px; */
    
    
}
.full{
    margin: auto;
}
.collections{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    
}
.collection{
    width: 329px;
    height:476px;
    display:grid;
    justify-items:center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.collection-banner {
    width: 300px;
    height:256px;
    border-radius:5px;
    margin-top: 17px;
    margin-bottom:16px;
    
}
.collection-details{
    margin-left: 14px;
}
.heading{
    font-size:28px;
    color: #18191F;
    margin-bottom:30px;
    text-align: center;

}
.price{
    font-size:24px;
    font-weight:400;
    color: rgba(0, 0, 0, 0.87);
    margin-top:6px;
    margin-bottom:0;
}
.fa-star{
    font-size:16px;
}
.filled{
    color: yellow;
}
.empty{
    color: gray;
}
.rating{
    margin-left:8px;
    font-size: 16px;
    
}
.details{
    font-family: Inter;
    font-size: 14px;
    color: #787885;
    margin-top:0;
}
.see{
    text-align: right;
    text-decoration: none;
    color:#E02C6DDE;
    margin-left: 946px;
    margin-top: 20px;

}
/* --------------------------
    Footer
-----------------------------*/
.foot{
    
    background-color:#0A0826;
    width: 100%;
    height:239px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.foot-info{
    width: 262px;
    height:209px;
   
}
.foot-details{
    text-align:center;
}
.footer-heading{
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.copy{
    font-size:14px;
    color: white;
}
.foot-links{
    display:flex;
    justify-content:center;
    color: white;
    
}
.social{
    margin-right: 16px;
}